.theme
{
	overflow:hidden;
	background-image:url(../images/Sri-Lanka-2014-260_new.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height:465px;
	width:90%;
	margin:10px auto;
	font-size:15px;
	border-top:1px solid white;
	position:relative;
}
.theme1
{
	margin-left:70px;
	padding:50px 0px;
}
.theme2
{
	margin-left:70px;
	padding:50px 0px;
}
.theme3
{
	margin-left:70px;
	padding:50px 0px;
}
.theme1 p{
	color:#7c0433;
}
.theme2 p{
	color:#7c0433;
}
.theme3 p{
	color:#7c0433;
}